* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Sans-serif;
  font-size: 16px;
  background: #7358eb57;
}
.navbar-light{
  background: linear-gradient(to right, rgb(94, 145, 255), rgb(116, 14, 14));
}
.search{
  margin-right: 15px;
}

.login{
  width: 40%;
  /* background-color: rgb(68, 0, 255); */
  margin: auto;
}
.login h2{
  margin: 10px;
  text-align: center;
}

/*Barra de opciones*/
/* .contedor nav {
  width: 100%;
  background: linear-gradient(to right, rgb(94, 145, 255), rgb(116, 14, 14));
} */
/* nav ul { 
  margin: auto;
  list-style: none;
  overflow: hidden; 
} */
/* header nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  padding: 15px 20px; 
} */
/* header nav ul li a:hover {
  background: #000;
  color: #fff; 
  font-weight: bold;
} */

/*Carrucel*/
.carousel-item img{
  margin: auto;
  width: 70%;
  height: 450px;
}
.carousel button{
  background-color: rgb(71, 71, 71);
}


.main {
  width: 90%;
  float:none;
  background: #fff; 
  margin: 5px;
  margin-left: auto;
  margin-right: auto
}
.main .imagen {
  width: 100%; 
}
.main .imagen img {
  width: 100%;
  vertical-align: top; 
}
.main .posts {
  padding: 40px; 
}
.main .posts article h2 {
  margin-bottom: 20px;
  color: #424242; 
}
.main .posts article p {
  margin-bottom: 15px;
  line-height: 27px; 
}

.thumbnail{
  float: left;
  margin-left: 8px;
  margin-right: 5px;
  /* width: 29%;
  margin: 2%;
  background: rgb(212, 212, 212); */
}
.thumbnail img{
  width: 95%;
  margin: 5px;
  padding: 5px;
}
.thumbnail .caption p{
  margin: 5px;
}

.thumbnail h3{
  text-align: center;
}
.footer{
  width: 98%;
  float:none;
  background: #fff; 
  margin: 5px;
  margin-left: auto;
  margin-right: auto
}


