* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Sans-serif;
  font-size: 16px;
  /* background: #7358eb57; */
}
.navbar-light{
  background: linear-gradient(to right, rgb(21, 0, 80),rgb(243, 243, 243), rgb(97, 0, 148));
}
.search{
  margin-right: 15px;
}
/*Login*/
.login{
  width: 40%;
  margin: auto;
}


/*Usuario create*/
.user h2{
  margin: 10px;
  text-align: center;
}



/*Carrucel*/
.carousel-item img{
  margin: auto;
  width: 70%;
  height: 450px;
}
.carousel button{
  background-color: rgba(71, 71, 71, 0.267);
}

.Formulario div{
  margin-bottom: 20px;
}

.main {
  width: 80%;
  float:none;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}
.main .card{
  background: rgba(97, 100, 148, 0.247);
}
.main .imagen {
  width: 100%; 
}
.main .imagen img {
  width: 100%;
  vertical-align: top; 
}
.main .posts {
  padding: 40px; 
}
.main .posts article h2 {
  margin-bottom: 20px;
  color: #424242; 
}
.main .posts article p {
  margin-bottom: 15px;
  line-height: 27px; 
}

.thumbnail .card{
  background-color: rgb(255, 255, 255);
  width: 21rem;
  margin-bottom: 10px;
}
.thumbnail{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.thumbnail img{
  width: 95%;
  margin: 5px;
  padding: 5px;
}
.thumbnail .caption p{
  margin: 5px;
}

.thumbnail h3{
  text-align: center;
}
.footer{
  width: 98%;
  float:none;
  background: #fff; 
  margin: 5px;
  margin-left: auto;
  margin-right: auto
}


